html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
  
  &:hover,
  &:active {
  text-decoration: none;
  }
}